
<div layout-lt-md="column">
    <div ng-controller="detailViewCtrl" ng-cloak>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Full Bleed</span>
            </h2>
        </md-toolbar>

        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in nrs">
                    <div class="md-list-item-text">
                        <h3>{{item}}</h3>
                        <h4>{{item}}</h4>
                        <p>{{item}}</p>
                    </div>
                    <md-button class="md-secondary">Respond</md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Inset</span>
            </h2>
        </md-toolbar>
    </div>
</div>


e420de63943b0886055904d1bf52cdee

"_id":2759660

